@import "tailwindcss";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css";
@import "swiper/css/effect-coverflow";

.box {
  width: 240px;
  height: 60px;
  border-radius: 50px;
  background: rgba(15, 23, 42, 0.9);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
