@import "tailwindcss";

.box {
  width: 240px;
  height: 60px;
  border-radius: 50px;
  background: rgba(15, 23, 42, 0.9);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
